@model WatchIt.Models.MovieDirectorView

@{
    ViewBag.Title = "Delete Movie: ";
}

<h2>@ViewBag.Title @Html.DisplayFor(model => model.Title) </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>@Html.DisplayNameFor(model => model.DirectorName)</b>
        </dt>

        <dd>
            @Html.ActionLink("" + Html.DisplayFor(model => model.DirectorName) + "", "Details", "Directors", new { id = Html.DisplayFor(model => model.DirectorID) }, htmlAttributes: new { })
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Title)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Description)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Genre)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Price)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)$
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Image)</b>
        </dt>

        <dd>
            <div><img src="@Html.DisplayFor(model=> model.Image)" /></div>
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Length)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Rating)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.ReleaseDate)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
