@model IEnumerable<WatchIt.Models.Movie>

@{
    ViewBag.Title = "Movies List";
}

<header class="row">
    <h2>@ViewBag.Title</h2>
    @{var sessionUser = (WatchIt.Models.Customer)HttpContext.Current.Session["Customer"];}
</header>
<div class="row">

    @using (Html.BeginForm("Index", "Movies", FormMethod.Post))
    {
        <div class="col-md-11">
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Search</label>
                    <br />
                    <div style="display:flex; align-items:center">
                        <label>Movie name: </label>
                        <input type="text" name="MovieName" id="MovieName" />
                        <label>Price: </label>
                        <span id="min">0</span>

                        <input type="range" min="0" max="@ViewBag.MaxPrice" value="@ViewBag.MaxPrice" name="Price" id="Price" onchange="showVal(this.value)" />
                        <span id="max">@ViewBag.MaxPrice</span>

                        <label>Genere: </label>
                        @Html.DropDownList("Genere", EnumHelper.GetSelectList(typeof(WatchIt.Models.Genre)),
                                           "Select My Type", new { @class = "form-control" })

                        <input type="submit" name="send" value="search" class="submit-btn btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<p>
    @if (sessionUser != null && sessionUser.IsAdmin == true)
    {
        <div>
            @Html.ActionLink("Add new Movie", "Create")
        </div>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)$
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Image)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @if (sessionUser != null && sessionUser.IsAdmin == true)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })<br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })<br />
                }
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
            <td>
                @if (sessionUser != null)
                {
                    if (@item.IsCart == true)
                    {
                        <button id="inCart_@item.ID" class="btn btn-success" style="pointer-events:none;">In cart</button>
                    }
                    else
                    {
                        <button id="addToCart_@item.ID" class="btn btn-primary" onclick="addToCart(@item.ID)">Add to cart</button>
                    }
                }
            </td>
        </tr>
    }

</table>

@section scripts{
    <script type="text/javascript">
        $("#Price").change(function () {
            $("#max").text($(this).val());
        });

        function showVal(newVal) {
            document.getElementById("max").innerHTML = newVal;
        }

        function addToCart(movieId) {
            $.ajax({
                url: '/Orders/AddToCart',
                type: 'Post',
                dataType: 'Json',
                data: { movieId: movieId },
                success: (function (result) {
                    window.location = "/Movies";
                }),
                error: (function (xhr, status) {
                    alert(status);
                })
            });
        }
    </script>
}
