<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Open+Sans:600,300,100|Open+Sans+Condensed:300">
    <link rel='stylesheet' type='text/css' href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <title>@ViewBag.Title - WatchIt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @{var SessionUser = (WatchIt.Models.Customer)HttpContext.Current.Session["Customer"];}
    <div class="outer">
        <div id="navbar" class="top-bar">
            <div class="nav navbar-nav navbar-left">
                <ul>
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })
                    </li>
                    <li>
                        @Html.ActionLink("About Us", "About", "Home", new { area = "" }, new { @class = "" })
                    </li>
                    <li>
                        @Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @class = "" })
                    </li>
                    <li>
                        @Html.ActionLink("Directors", "Index", "Directors", new { area = "" }, new { @class = "" })
                    </li>
                    <li>
                        @Html.ActionLink("Branches", "Index", "Branches", new { area = "" }, new { @class = "" })
                    </li>
                    @if (SessionUser != null && SessionUser.IsAdmin == true)
                    {
                        <li>
                            @Html.ActionLink("All Customers", "Index", "Customers", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("All Orders", "AllOrders", "Orders", new { area = "" }, new { @class = "" })
                        </li>
                    }
                    else if (SessionUser != null)
                    {
                        <li>
                            @Html.ActionLink("Cart", "Cart", "Orders", new { area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("My orders", "CustomerOrder", "Orders", new { area = "" }, new { @class = "" })
                        </li>
                    }
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
        <div class="main-container">
            <aside class="sidebar">
                <center>
                    <h2><b>WatchIt</b></h2>
                </center>
                <br /><br /><br />
                We have thousands of movies from Action to Romance and everything in-between.
                Enjoy exclusive deals, movies updates and the newest and best movies.
                <br /><br /><br />
                <a href="https://www.accuweather.com/en/il/tel-aviv/215854/weather-forecast/215854" class="aw-widget-legal">
                </a><div id="awcc1539872498791" class="aw-widget-current" data-locationkey="" data-unit="c" data-language="en-us" data-useip="true" data-uid="awcc1539872498791"></div>
                <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
                <br />
                <p> OMG! Its the perfect weather to stay home and watch a movie!</p>
                <p>Hurry up and get yours!</p>
            </aside>
            <div class="layout-content">
                @RenderBody()
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
<script>
    window.onscroll = function () { myFunction() };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
