<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Open+Sans:600,300,100|Open+Sans+Condensed:300">
    <link rel='stylesheet' type='text/css' href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <title>@ViewBag.Title - WatchIt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @{var sessionUser = (WatchIt.Models.Customer)HttpContext.Current.Session["User"];}
    <div class="outer">
        <div class="top-bar">
            <div class="logo-style">
                <p class="logo">WatchIt</p>
            </div>
            <div class="top-menu-style">
                <ul>
                    @*<li><a href="" asp-controller="Home" asp-action="Index">WatchIt</a></li>*@
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })
                    </li>
                    <li>
                        @Html.ActionLink("About Us", "About", "Home", new { area = "" }, new { @class = "" })
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "" })
                    </li>
                    <li>
                        @Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @class = "" })
                    </li>
                    <li>
                        @Html.ActionLink("Login", "Login", "Customers", new { area = "" }, new { @class = "" })
                    </li>
                    <li>
                        @Html.ActionLink("Branches", "Index", "Branches", new { area = "" }, new { @class = "" })
                    </li>
                    <li>
                        @Html.ActionLink("Orders", "Index", "Orders", new { area = "" }, new { @class = "" })
                    </li>
                    @if (sessionUser != null && sessionUser.FirstName == "admin")
                    {
                        <li>@Html.ActionLink("Customers", "Index", "Customer", new { area = "" })</li>
                        <li>@Html.ActionLink("Orders", "Index", "Orders", new { area = "" })</li>
                    }
                </ul>
            </div>
        </div>
        <div class="main-container">
            <aside class="sidebar">
                <div class="search-box">
                    <input type="text" placeholder="Search..." />
                    <p class="fa fa-search"></p>
                </div>
            </aside>
            <div class="layout-content">
                @RenderBody()
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
