@model WatchIt.Models.Customer

@{
    ViewBag.Title = "Delete Customer: ";
}

<h2>@ViewBag.Title @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>@Html.DisplayNameFor(model => model.FirstName)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.LastName)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.BirthDate)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Gender)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Email)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Password)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.City)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Street)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
