@model WatchIt.Models.Customer

@{
    ViewBag.Title = "Customer Details: ";
}

<h2>@ViewBag.Title @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>@Html.DisplayNameFor(model => model.FirstName)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.LastName)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.BirthDate)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Gender)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Email)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Password)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.City)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Street)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

    </dl>
</div>
<p>
    @{var sessionUser = (WatchIt.Models.Customer)HttpContext.Current.Session["Customer"];}
    @if (sessionUser != null && sessionUser.IsAdmin == true)
    {
        @Html.ActionLink("Back to customer List", "Index")
      
    }
    else
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID })
    }
</p>
