@model IEnumerable<WatchIt.Models.Customer>

@{
    ViewBag.Title = "Customers List";
}

<h2 class="lists-header">@ViewBag.Title</h2>
<div class="row">
    @using (Html.BeginForm("Index", "Customers", FormMethod.Post))
    {
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <font size="4">
                        <label>Search</label>
                    </font>
                    <div>
                        <label>First Name:</label>
                        <input class="form-control" type="text" name="FirstName" id="FirstName" style="width:25%" /><br />
                        <label>Last Name:</label>
                        <input class="form-control" type="text" name="LastName" id="LastName" style="width:25%" /><br />
                        <label>Gender:</label>
                        @Html.DropDownList("Gender", new SelectList(Enum.GetValues(typeof(WatchIt.Models.Gender))), "All Genders" , new { @class = "form-control", @style = "width:25%" })<br />
                        <input type="submit" name="send" value="search" class="submit-btn btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CustomerID })<br />
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
            </td>
        </tr>
    }

</table>

