<header>
    <h2 class="lists-header">Statistics</h2>
</header>

<div style="width:100%; text-align:center">
    <div style="margin: 10px; display:inline-block">
        @Html.ActionLink("Get orders per month statistics", "GroupByMonth", "Orders", routeValues: null, htmlAttributes: new { style = "font-weight:bold; color:red" })
        <img src="~/Images/Statistic.jpg" style="width:30px" />
    </div>
    <div style="margin: 10px; display:inline-block">
        @Html.ActionLink("Get orders per genre statistics", "GenreGraph", "Orders", routeValues: null, htmlAttributes: new { style = "font-weight:bold; color:red" })
        <img src="~/Images/Statistic.jpg" style="width:30px" />
    </div>
</div>

@using (Html.BeginForm("AllOrders", "Orders", FormMethod.Post))
{<div class="col-md-12">
     <div class="panel panel-default">
         <div class="panel-body">
             <font size="4">
                 <label style="padding:4px">Search</label>
             </font>
             <br />
             <div>
                 <label style="padding:4px">Branch:</label>
                 @Html.DropDownList("branchId", (SelectList)ViewBag.branches, "All Branches", new { @class = "form-control", @style = "width:25%; display:inline-block" })
                 <label style="padding:4px">Costumer:</label>
                 @Html.DropDownList("customerId", (SelectList)ViewBag.customers, "All Customers", new { @class = "form-control", @style = "width:25%; display:inline-block" })
                 <input type="submit" name="send" value="search" class="btn submit-btn btn-default" />
             </div>
         </div>
     </div>
</div>
}
<div class="row">
    <div class="col-sm-6" id="branch_piechart_3d" style="width: 50%; height: 400px;"></div>
    <div class="col-sm-6" id="customer_piechart_3d" style="width: 50%; height: 400px;"></div>
</div>
<div class="row">

</div>

@section scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        let branch_data = [];
        let customer_data = [];

        @foreach(var order in Model)
        {
            <text>branch_data.push("@order.Branch.BranchName"); </text>
            <text>customer_data.push("@order.Customer.DisplayName"); </text>
        }

        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(branch_drawChart);
        function branch_drawChart() {

         // init google table
        var dataTable = new google.visualization.DataTable({
           cols: [
              { label: 'Answer', type: 'string' },
              { label: 'Result', type: 'number' }
           ]
        });
             // get Branch rows
            var first = branch_data[branch_data.length - 1];
            var runCount = 0;
            Array.prototype.forEach.call(branch_data.pop(), function (row) {
                if (runCount < 1) {
                    for (var x = branch_data.length; x >= 0; x--) {
                        if (x == branch_data.length) {
                            dataTable.addRow([
                                { v: first },
                                { v: 1 }
                            ]);
                        } else {
                            dataTable.addRow([
                                { v: branch_data[x] },
                                { v: 1 }
                            ]);
                        }
                    }
                    runCount += 1;
                }
            })

              var dataSummary = google.visualization.data.group(
                dataTable,
                [0],
                [{'column': 1, 'aggregation': google.visualization.data.sum, 'type': 'number'}]
            );

            var branch_options = {
                title: 'Orders Per Branch:',
                is3D: true,
            };

            var branch_chart = new google.visualization.PieChart(document.getElementById('branch_piechart_3d'));
            branch_chart.draw(dataSummary, branch_options);
        }

        new google.charts.load("current", { packages: ["corechart"] });
        new google.charts.setOnLoadCallback(customer_drawChart);
        function customer_drawChart() {

            // init google table
        var dataTable = new google.visualization.DataTable({
           cols: [
              { label: 'Answer', type: 'string' },
              { label: 'Result', type: 'number' }
           ]
        });
            // get Customer rows
            var first = customer_data[customer_data.length - 1];
            var runCount = 0;
            Array.prototype.forEach.call(customer_data.pop(), function (row) {
                if (runCount < 1) {
                    for (var x = customer_data.length; x >= 0; x--) {
                        if (x == customer_data.length) {
                            dataTable.addRow([
                                { v: first },
                                { v: 1 }
                            ]);
                        } else {
                            dataTable.addRow([
                                { v: customer_data[x] },
                                { v: 1 }
                            ]);
                        }
                    }
                    runCount += 1;
                }
            })

              var dataSummary = google.visualization.data.group(
                dataTable,
                [0],
                [{'column': 1, 'aggregation': google.visualization.data.sum, 'type': 'number'}]
            );

            var customer_options = {
                title: 'Orders Per Customer:',
                is3D: true,
            };

            var customer_chart = new google.visualization.PieChart(document.getElementById('customer_piechart_3d'));
            customer_chart.draw(dataSummary, customer_options);
        }

    </script>
}
