@model WatchIt.Models.Order

@{
    ViewBag.Title = "Delete order";
}

<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>@Html.DisplayNameFor(model => model.Branch.BranchName)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Customer.FirstName)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.OrderDate)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "CustomerOrder")
        </div>
    }
</div>
