@model WatchIt.Models.Order

@{
    ViewBag.Title = "Order Details";
}

<div>
    <h2>Order #@Html.DisplayFor(model => model.OrderID)</h2>

    <div>
        <hr />
        <dl>
            <dt>
                Customer
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.LastName)
            </dd>

            <dt>
                Branch
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Branch.BranchCity):
                @Html.DisplayFor(model => model.Branch.BranchStreet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>
        </dl>

        <table class="table">
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Movies)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Price
                    </td>
                </tr>
            }
        </table>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
            @Html.ActionLink("Back to List", "CustomerOrder")
        </p>
    </div>
</div>