@model WatchIt.Models.Order

@{
    ViewBag.Title = "Details order";
}

<div>
    <h2>@ViewBag.Title</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <b>@Html.DisplayNameFor(model => model.Customer)</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.LastName)
            </dd>

            <dt>
                <b>@Html.DisplayNameFor(model => model.Branch)</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Branch.BranchCity):
                @Html.DisplayFor(model => model.Branch.BranchStreet)
            </dd>

            <dt>
                <b>@Html.DisplayNameFor(model => model.OrderDate)</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderDate)
            </dd>

            <dt>
                <b>@Html.DisplayNameFor(model => model.TotalPrice)</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalPrice) $
            </dd>
        </dl>
        @if (Model.Movies.Count() != 0)
        {
            <table class="table">
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Movies)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Price $
                        </td>
                    </tr>
                }

            </table>
        }
        <p>
            @{ var sessionUser = (WatchIt.Models.Customer)HttpContext.Current.Session["Customer"]; }
            
            @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID })
            @if (sessionUser != null && sessionUser.IsAdmin == false)
            {
                <text>| </text>@Html.ActionLink("Back to List", "CustomerOrder")
            }
        </p>
    </div>
</div>