@model WatchIt.Models.Order

@{
    ViewBag.Title = "Edit order number";
}
    <div dir="ltr">
        <h2>@ViewBag.Title @Html.DisplayFor(model => model.OrderID)</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Customer.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Customer.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Branch.BranchName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Branch.BranchCity);
                    @Html.DisplayFor(model => model.Branch.BranchStreet)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </dt>

                <dd id="price">
                    @Html.DisplayFor(model => model.TotalPrice)
                </dd>
            </dl>

            <table dir="ltr" class="table">
                <tr>
                    <th>
                        Product name
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Movies)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            <button class="btn btn-danger" id="remove_@item.ID" onclick="removeFromOrder(@Model.OrderID, @item.ID, @item.Price)">Delete item</button>
                        </td>
                    </tr>
                }
                <tr id="last-row">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class="form-group" dir="ltr">
                <label for="sel1">Add item</label>
                <select class="form-control" id="select-product">
                    @foreach (var product in ViewBag.Movies)
                    {
                        <option value="@product.ID">@product.Title</option>
                    }
                </select>
                <br />
                <button type="button" class="btn btn-primary" onclick="addProduct(@Model.OrderID)">Add</button>
            </div>
            <br />
            <p>
                @Html.ActionLink("Back to List", "CustomerOrder") | 
                @Html.ActionLink("Details", "Details", new { id = Model.OrderID })
            </p>
        </div>
    </div>


@section scripts {
    <script type="text/javascript">
        function removeFromOrder(orderId, prodId, price) {
            $.ajax({
                url: '/Orders/RemoveFromOrder',
                type: 'Post',
                dataType: 'Json',
                data: { orderId: orderId, movieId: prodId },
                success: (function (result) {

                    $('#remove_' + prodId).parent().parent().hide(500);

                    var totalPrice = $("#price").text();
                    $("#price").text(totalPrice - price)
                }),
                error: (function (xhr, status) {
                    alert(status);
                })
            });
        }

        function addProduct(orderId) {
            var movieId = $("#select-product").val();
            $.ajax({
                url: '/Orders/AddProductToOrder',
                type: 'Post',
                dataType: 'Json',
                data: { orderId: orderId, movieId: movieId},
                success: (function (result) {
                    if (result === false) {
                        alert('This product already exist!');
                        return;
                    }

                    var html = "<tr><td>" + result.Title + "</td><td>" + result.Price + "</td>";
                    html += "<td><a id='remove_" + movieId + "' onclick='removeFromOrder(" + orderId + ", " + movieId + ", " + result.Price + ")'>מחק מההזמנה</a></td></tr>";
                    $("#last-row").before(html);
                    var totalPrice = $("#price").text();
                    $("#price").text(parseInt(totalPrice) + parseInt(result.Price));
                }),
                error: (function (xhr, status) {
                    alert(status);
                })
            });
        }
    </script>
}