@model WatchIt.Models.Order

@{
    ViewBag.Title = "Edit Order";
}

@{var sessionUser = (WatchIt.Models.Customer)HttpContext.Current.Session["Customer"];}

    <div dir="rtl">
        <h2>הזמנה @Html.DisplayFor(model => model.OrderID)</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Customer.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Customer.FirstName)
                </dd>

                <dt>
                    סניף
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Branch.BranchCity);
                    @Html.DisplayFor(model => model.Branch.BranchStreet)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </dt>

                <dd id="price">
                    @Html.DisplayFor(model => model.TotalPrice)
                </dd>
            </dl>

            <table dir="rtl" class="table">
                <tr>
                    <th>
                        שם מוצר
                    </th>
                    <th>
                        מחיר
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Movies)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            <a id="remove_@item.ID" onclick="removeFromOrder(@Model.OrderID, @item.ID, @item.Price)">delete item</a>
                        </td>
                    </tr>
                }
                <tr id="last-row">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class="form-group">
                <label for="sel1">add item</label>
                <select class="form-control" id="select-product">
                    @foreach (var product in ViewBag.Movies)
                    {
                        <option value="@product.ID">@product.Title</option>
                    }
                </select>
                <button type="button" class="btn btn-primary" onclick="addProduct(@Model.OrderID)">add</button>
            </div>

            <p>
                @Html.ActionLink("back", "CustomerOrder")
            </p>
        </div>
    </div>


@section scripts {
    <script type="text/javascript">
        function removeFromOrder(orderId, prodId, price) {
            $.ajax({
                url: '/Orders/RemoveFromOrder',
                type: 'Post',
                dataType: 'Json',
                data: { orderId: orderId, productId: prodId },
                success: (function (result) {

                    $('#remove_' + prodId).parent().parent().hide(500);

                    var totalPrice = $("#price").text();
                    $("#price").text(totalPrice - price)
                }),
                error: (function (xhr, status) {
                    alert(status);
                })
            });
        }

        function addProduct(orderId) {
            var productId = $("#select-product").val();
            $.ajax({
                url: '/Orders/AddProductToOrder',
                type: 'Post',
                dataType: 'Json',
                data: { orderId: orderId, productId: productId},
                success: (function (result) {
                    if (result === false) {
                        alert('לא ניתן להוסיף את מוצר זה');
                        return;
                    }

                    var html = "<tr><td>" + result.ProductName + "</td><td>" + result.Price + "</td>";
                    html += "<td><a id='remove_" + productId + "' onclick='removeFromOrder(" + orderId + ", " + productId + ", " + result.Price + ")'>מחק מההזמנה</a></td></tr>";
                    $("#last-row").before(html);
                    var totalPrice = $("#price").text();
                    $("#price").text(parseInt(totalPrice) + parseInt(result.Price));
                }),
                error: (function (xhr, status) {
                    alert(status);
                })
            });
        }
    </script>
}