@model IEnumerable<WatchIt.Models.OrderYearsViewModel>

<h3>Orders a year</h3>

<p>
</p>

<table class="table" style="align-content:center" align="center">
    <tr>
        <th>@Html.DisplayNameFor(model => model.year)</th>
        <th>@Html.DisplayNameFor(model => model.postCount)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="align-content:center">
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postCount)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("back", "AllOrders")
</p>