@model WatchIt.Models.Director

@{
    ViewBag.Title = "Delete Director: ";
}

<h2>@ViewBag.Title @Html.DisplayFor(model => model.Name) </h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>@Html.DisplayNameFor(model => model.Name)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Description)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.PlaceOfBirth)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.NominatedNum)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NominatedNum)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Image)</b>
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Image)" />
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.BirthDate)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
