@model WatchIt.Models.Director

@{
    ViewBag.Title = "Details Director: ";
}

<h2>@ViewBag.Title @Html.DisplayFor(model => model.Name) </h2>
@{ 
    var sessionUser = (WatchIt.Models.Customer)HttpContext.Current.Session["Customer"];
    var DirectorController = new WatchIt.Controllers.DirectorsController();
    int? directorId = null;
    var directorMovies = DirectorController.GetDirectorsMovies(Model.ID);

}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>@Html.DisplayNameFor(model => model.Name)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Description)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.PlaceOfBirth)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.NominatedNum)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NominatedNum)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.BirthDate)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Image)</b>
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => Model.Image)" />
        </dd>
    </dl>
    @if (directorMovies.Count() != 0)
    {
        <table class="table">
            <tr>
                <th>
                    Movie Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Poster
                </th>
            </tr>
            @foreach (var item in directorMovies)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Movies",  new { id = item.ID })"><img src="@item.Image" style="width:60px" /></a>
                    </td>
                </tr>
            }

        </table>
    }
</div>
<p>
    @if (sessionUser != null && sessionUser.IsAdmin == true)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })<text>| </text>
    }

     @Html.ActionLink("Back to List", "Index")
</p>
