@model WatchIt.Models.Director

@{
    ViewBag.Title = "Details Director: ";
}

<h4>@ViewBag.Title @Html.DisplayFor(model => model.Name) </h4>
@{ var sessionUser = (WatchIt.Models.Customer)HttpContext.Current.Session["Customer"]; }

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @<b>@Html.DisplayNameFor(model => model.Name)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @<b>@Html.DisplayNameFor(model => model.Description)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @<b>@Html.DisplayNameFor(model => model.PlaceOfBirth)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>

        <dt>
            @<b>@Html.DisplayNameFor(model => model.NominatedNum)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NominatedNum)
        </dd>

        <dt>
            @<b>@Html.DisplayNameFor(model => model.Image)</b>
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => Model.Image)" />
        </dd>

        <dt>
            @<b>@Html.DisplayNameFor(model => model.BirthDate)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
</div>
<p>
    @if (sessionUser != null && sessionUser.IsAdmin == true)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    }

    | @Html.ActionLink("Back to List", "Index")
</p>
