@model IEnumerable<WatchIt.Models.Director>

@{
    ViewBag.Title = "Directors List";
}

<h2 class="lists-header ">@ViewBag.Title</h2>
@{var sessionUser = (WatchIt.Models.Customer)HttpContext.Current.Session["Customer"];}
@if (sessionUser != null && sessionUser.IsAdmin == true)
{
    <div>
        @Html.ActionLink("Add new Director", "Create")
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NominatedNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NominatedNum)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Image)" />
            </td>
            <td style="width:10%">
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @if (sessionUser != null && sessionUser.IsAdmin == true)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })<br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })<br />
                }
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>
