@model WatchIt.Models.Branch

@{
    ViewBag.Title = "Delete branch name: ";
}

<h2>@ViewBag.Title @Html.DisplayFor(model => model.BranchName)</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>@Html.DisplayNameFor(model => model.BranchName)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.BranchCity)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchCity)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.BranchStreet)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchStreet)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.BranchsPhoneNumber)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchsPhoneNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
