@model WatchIt.Models.Branch

@{
    ViewBag.Title = " Branch Details:";
}

<h2>@ViewBag.Title @Html.DisplayFor(model => model.BranchName)</h2>
@{ var sessionUser = (WatchIt.Models.Customer)HttpContext.Current.Session["Customer"]; }
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>@Html.DisplayNameFor(model => model.BranchName)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.BranchCity)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchCity)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.BranchStreet)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchStreet)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.BranchsPhoneNumber)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchsPhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @if (sessionUser != null && sessionUser.IsAdmin == true)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.BranchID })<text>| </text>
        @Html.ActionLink("Branch clients List", "CustomersByBranch", "Customers", new { id = Model.BranchID }, null)<text>| </text>
        @Html.ActionLink("Branch orders List", "OrdersByBranch", "Orders", new { id = Model.BranchID }, null)<text>| </text>

    }
    @Html.ActionLink("Back to List", "Index")
</p>
